.logo{
    height: 24px !important;
    width: auto !important;
  }
  .navbar-light a{
    color: white !important;
  }
  .hero-img{
    height: 115px;
    width: auto;
  }
  .my_stuff {
    height: 80vh;
    background: url(../img/SNL_stage.png) no-repeat center center / cover;
  }

  .hero-content{
    height: 70vh;
    display: flex;
    align-items: center;
  }

  .hero_title_1 {
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .hero_title_2 {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 29px;
  }

  .btn-alt {
    background-color: transparent;
    border: 1px white solid;
    color: white !important; 
  }

  .image-card-1{
    background: url(../img/himym-img.png) no-repeat;
    background-position: cover;
  }
  